.header {
  height: 50px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(#000, rgba(255,0,0,0));
}

.left-header {
  display: flex;
  align-items: center;
}

.button-menu {
  margin-left: 20px;
  background: none;
	border: none;
	color: inherit;
	font: inherit;
	outline: inherit;
  cursor: pointer;
}

.button-menu:hover {
  font-weight: bold;
}

.right-header {
  display: flex;
  align-items: center;
}

.logo {
  width: auto;
  height: 80%;
}

.user-avatar {
  width: 35px;
  height: 35px;
}

.arrow-menu {
  margin-left: 5px;
}