@import '../assets/fonts/netflix/stylesheet.css';

.globalstyle {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  height: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'netflix_sanslight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  background: #141414;
}